.tetromino {
    background-color: blue;
}

.container{
    display:flex;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: cyan;

}

.grid div {
    width: 20px;
    height: 20px;
   
}

.next-Tetromino-Grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: cyan;
}

.next-Tetromino-Grid div{
    width: 20px;
    height: 20px;
}

